.image{border: 3px solid lawngreen;
     
    background-image: url(menu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:2167px;
    width: fit-content;
}
*{
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
    background-color: black;
    color: white;
    border: 8px solid red;
    height: 90px;
    width: 206px;
    padding: 22px;
    margin: 50px;
    border-radius: 100px;
    float: left;
}

#box1{
    margin-left: 100px;
    padding: 30px;
    border-radius: 50px;
    width: 250px;
    height: 120px;
    border-radius: 20px;

}
#box2{
    margin-left: -100px;
    margin-top: 70px;
    padding: 19px;
    width: 250px;
    height: 60px;
    border-radius: 15px;
    border: 5px solid red;
}

#box3{
    margin-left: 300px;
    padding:30px ;
    width:290px ;
    height: 120px;
    border-radius: 15px;
}
.BOX4{
    box-sizing: content-box;
    border: 8px dotted red;
    border-radius: 0%;
    width: fit-content;
    height: auto;
    align-items: center;
    background-color: white;
    color: red;
    margin-left: 500px;
}

.box5{

    text-decoration: underline;
        box-sizing: border-box;
        background-color: rgb(25, 206, 200);
        color: black;
        border: 8px solid rgb(159, 153, 153);
        height: 350px;
        width: 350px;
        padding: 45px;
        margin: 50px;
        margin-top: -590px;
        border-radius: 169px;
        text-align: center;
        line-height: 40px;
        padding-top: 60px;
        
    

}


.box6{
    margin-top: 60px;
    margin-left: 500px;
    width: 400px;

}


.box7{
    box-sizing: border-box;
    background-color: rgb(224, 7, 7);
    color: white;
    border: 8px solid rgb(217, 255, 0);
    height: 350px;
    width: 302px;
    padding: 50px;
    margin: 50px;
    margin-right: 50px;
    margin-top:100px;
    border-radius: 20px;
    

}
.hr3{
    color:white;
    border-width: 2px;
    width: 100%;
    
}
.h1{
    border-style: none;
    border-top-style:solid;
    border-color: rgb(159, 153, 153);
    width: 130%;
    margin-left: -36px;
    border-width: 5px;

}
.hr4{
    color:black;
    size: 3;
    width: 100%;
    
}